# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lfpnsedvtkervfqmsmpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmcG5zZWR2dGtlcnZmcW1zbXBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzU4MDUsImV4cCI6MjA4OTI1MTgwNX0.7_hxiAIgzb9IOFBEpNNG9f7cArJa1ZhMASfVtv6R_Yo

# JWT Secret for token signing
JWT_SECRET=your-super-secret-jwt-key-12345

# Web Push (generated 2026-03-26)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BAJvfc6Ov0Vx23H2tewZlUqn7uFU1tgpV20MhOvJi4fjxzPG0g7DWaycguTQ1MedRhchWJUf8v1c5MZbxlMW-ao
VAPID_PRIVATE_KEY=0JBGqmf0gtNJq4R7dfrKIDw9nb2ispTS_21NnW7KwjA
VAPID_SUBJECT=mailto:dmeher1996@gmail.com

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000
